@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body{
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.construction{
  position: inherit;
  z-index: 10;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.112);
}

header{
  /* background-color: rgb(67, 143, 118); */
  padding: 0 10%;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
}

.logo{
  width: auto;
  display: flex;
  align-items: center;
}

.icon{
  background-image: url(maxime.svg);
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(251deg) brightness(97%) contrast(111%);
}

.imgLogo{
  width: 100px;
}

.nav-list{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list ul{
  display: flex;
  justify-content: center;
}

.nav-item{
  margin: 15px;
}

.nav-link{
  color: #fff;
}

.mobile-menu-icon, .mobile-menu{
  display: none;
  
}

@media screen and (max-width: 730px) {

  .nav-item{
    display: none;
  }

  .mobile-menu-icon{
    display: block;
  }

  .mobile-menu-icon button{
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item{
    display: block;
  }

  .open{
    display: block;
  }
}





main{
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.eu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
}

.eu img{
  width: 300px;
  border-radius: 50%;
}

.title{
  display: flex;
  width: auto;
  font-weight: 400;
}

.text{
  font-weight: 100;
}


@media screen and (max-width: 390px){
  .links{
    display: none;
  }

  .textoApresentacao{
    display: none;
  }
}